extends layout

block content
  #enlarged.modal.fade.modal-lg(data-keyboard='true')
    .modal-content
      .modal-header
        button.pull-right.close(type='button', data-dismiss='modal',aria-hidden="true")
          span.glyphicon.glyphicon-remove
        h4.name
      .modal-body
        .img
        .info

  .row
    .col-sm-10.col-sm-offset-1
      .row.sm-text-center.artist-title
        .col-sm-6
          h2 #{artist.name}
          {% if artist.cv %}
          a(href='#{artist.cv_link()}', target="_blank", download='#{artist.cv_name()}')
            h4.accent cv &nbsp;
              span.glyphicon.glyphicon-cloud-download
          {% endif %}
        .col-sm-3
          br
          a(href='mailto:#{artist.email}', target="_blank")
            h4.accent #{artist.email}
          a(href='#{artist.web()}', target="_blank")
            h4.accent #{artist.website}
        .col-sm-3.text-right
          br
          {% if artist.bio %}
          a(href='#', data-toggle='collapse', data-target="#bio")
            h4 bio
          {% endif %}
          {% if artist.artist_statement %}
          a(href='#', data-toggle='collapse', data-target="#statement")
            h4 statement
          {% endif %}
      .row
        #bio.col-sm-10.col-sm-offset-1.collapse
          h3 bio
          p=artist.bio
        #statement.col-sm-10.col-sm-offset-1.collapse
          h3 artist statement
          p=artist.artist_statement
      hr
  .row
    {% if artist_videos.length > 0 %}
    .col-sm-10.col-sm-offset-1
      {% for image in artist_videos %}
      .row
        .col-sm-3
          .row
            .col-sm-12
              h4.italic #{image.name}
              br
          .row.info
            .col-xs-offset-3
              p.short.small #{image.dimensions}
              p.short.small #{image.medium}
              p.short.small #{image.year}
        .col-sm-8.col-sm-offset-1.video-block
          {% autoescape off %}
          #{image.video}
          {% endautoescape %}
        {% endfor %}
      .row
        br
    {% endif %}
    {% if artist_videos and artist_images %}
    .col-sm-8.col-sm-offset-2
      br
      hr.dashed
      br
    {% endif %}
    .col-sm-10.col-sm-offset-1
      {% for image in artist_images %}
      .row
        .col-sm-3
          .row
            .col-sm-12
              h4.italic #{image.name}
              br
          .row.info
            .col-xs-offset-3
              p.short.small #{image.dimensions}
              p.short.small #{image.medium}
              p.short.small #{image.year}
        .col-sm-8.col-sm-offset-1.enlarge(style="background-image: url('#{image.img()}');", data-dimensions="#{image.dimensions}", data-medium="#{image.medium}", data-year="#{image.year}", data-name='#{image.name}', data-full='#{image.full_res()}')
          img.invisible.img-thumbnail.lg-thumbnail(src="#{image.img()}", data-dimensions="#{image.dimensions}", data-medium="#{image.medium}", data-year="#{image.year}", data-name='#{image.name}', data-full='#{image.full_res()}')

      .row
        br
      {% endfor %}
