extends layout

block content
  #enlarged.modal.fade.modal-lg
    .modal-content
      .modal-header
        button.pull-right.close(type='button', data-dismiss='modal',aria-hidden="true")
          span.glyphicon.glyphicon-remove
        h4.name
      .modal-body
        .img
        .info

  .row
    .col-sm-10.col-sm-offset-1.text-center
      h1 #{artist.name}
      hr
  .row
    {% if artist_videos.length > 0 %}
    .col-sm-10.col-sm-offset-1
      {% for image in artist_videos %}
      .col-sm-3
        .row.text-center
          h4.italic #{image.name}
          br
        .row.info
          p.short.small #{image.dimensions}
          p.short.small #{image.medium}
          p.short.small #{image.year}
      .col-sm-9.video-block
        {% autoescape off %}
        #{image.video}
        {% endautoescape %}
      {% endfor %}
    {% endif %}
    {% if artist_videos and artist_images %}
    .col-sm-8.col-sm-offset-2
      br
      hr
      br
    {% endif %}
    .col-sm-10.col-sm-offset-1
      {% for image in artist_images %}
      .row
        .col-sm-3
          .row.text-center
            h4.italic #{image.name}
          .row.info
            br
            .col-xs-offset-3
              p.short.small #{image.dimensions}
              p.short.small #{image.medium}
              p.short.small #{image.year}
        .col-sm-8.col-sm-offset-1
          a(href='')
            img.enlarge.img-thumbnail.lg-thumbnail(src="#{image.img()}", data-dimensions="#{image.dimensions}", data-medium="#{image.medium}", data-year="#{image.year}", data-name='#{image.name}', data-full='#{image.full_res()}')
      .row
        br
        br
      {% endfor %}
