extends layout

block content
  .col-sm-10.col-sm-offset-1
    h1 #{press.name} (#{press.date})
    {% autoescape off %}
    #{press.content}
    {% endautoescape %}
  .row
    br
  .col-sm-8.col-sm-offset-2
    hr.dashed
    .col-sm-4
      h4 links
      {% for link in press.presslink_set.all %}
      li
        a(href="#{link.url}", target='_blank') #{link.url}
      {% endfor %}
    .col-sm-4.pull-right
      {% for image in press_images %}
      img.img-thumbnail(src="#{image.thumb()}", title="#{image.name}")
      {% endfor %}
